<link rel="stylesheet" href="/css/chatbox.css">
    <% if(locals.user){ %>
        <div class="chatbox-container" id="user-chat-box">
            <ul id="chat-messages-list">
                <li class="other-message">
                    <span>Other Message</span>
                </li>
                <li class="self-message">
                    <span>Self Message</span>
                </li>
            </ul>
            <input type="text" id="chatbox-input" style="width: 300px;" placeholder="Type your message here"> 
            <input type="submit" id="send-message" value="Send">
        </div>
<% } %>