<link rel="stylesheet" href="/css/user_sign_in.css">
<center><h1 style="margin-top: 100px;">User Sign up</h1></center>
<div class="signIn_container">
    <center>
  <form action="/users/create-session" method="POST">
     <div id="email_container"><input type="email" name="email" placeholder="Enter email"></div>
     <div id="password_container"><input type="password" name="password" placeholder="Enter password"></div>
     <input type="submit" name="submit" value="Sign In" id="submit_button">
 </form>

<p>
  <a href="/users/auth/google"> Google SignIn/SignUp</a>
</p>
</center>
</div>
